<component name="ArtifactManager">
  <artifact type="exploded-war" name="springboot-mvc:war exploded">
    <output-path>$PROJECT_DIR$/springbootmvc/target/springboot-mvc</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springboot-mvc" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.0.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.0.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.0.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.0.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.0.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.0.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.0.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.apache.tomcat.embed:tomcat-embed-core:8.5.5" />
          <element id="library" level="project" name="Maven: org.apache.tomcat.embed:tomcat-embed-el:8.5.5" />
          <element id="library" level="project" name="Maven: org.apache.tomcat.embed:tomcat-embed-jasper:8.5.5" />
          <element id="library" level="project" name="Maven: org.eclipse.jdt.core.compiler:ecj:4.5.1" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/springbootmvc/target/springboot-mvc/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springboot-mvc/web/Web" />
    </root>
  </artifact>
</component>